@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap");
@import "tailwindcss";

body {
  background-color: #fbf3d5;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;

  & .points {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .points p {
    font-size: smaller;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  background-color: red;
  max-width: 80%;

  & input {
    border-radius: 12px;
    padding: 4px;
    background-color: white;
    caret-color: grey;
    padding-left: 32px;
  }

  & input:focus {
    outline: none;
    font-weight: normal;
  }

  & input::placeholder {
    padding-left: 4px;
    font-size: smaller;
  }

  & .search-img {
    position: absolute;
    left: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .search-results {
    position: absolute;
    background-color: blue;
    left: 0;
    bottom: 0;
    transform: translate(0, 100%);
  }

  & .search-results p {
    border: 1px solid grey;
    padding: 2px 4px;
  }
}

.container {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 1fr;
  padding: 10px;
  margin: auto;
  max-width: 80%;
  min-height: 500px;

  & .player-img {
    margin: auto;
    width: auto;
    height: auto;
  }

  & h1 {
    text-align: center;
    font-size: 32px;
  }

  & button {
    margin: 25px auto;
    background-color: #18392b;
    font-size: 1.3rem;
    border: 1px solid white;
    border-radius: 8px;
    padding: 12px 32px;
    color: white;
  }

  & button:hover {
    background-color: #0f5132;
    color: white;
  }
}

.input-time {
  background-color: red;

  & input {
    background-color: white;
  }
}
