@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body {
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/*nav {
  position: relative;
  padding: 12px;
  margin: 4px auto;
}

.menu {
  background-color: red;
  max-width: 100%;
  min-height: 100vh;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}*/

.points {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-10%, 50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;

  & .points-logo {
    position: relative;
    width: 30px;
    height: 30px;
  }
}

.points h1 {
  font-size: 1.5rem;
  color: #121212;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 80%;
  margin: 80px auto;

  & input {
    width: 100%;
    margin: auto;
    border-radius: 12px;
    background-color: white;
    caret-color: #121212;
    padding: 10px 50px;
    text-decoration-line: none;
  }

  & input:focus {
    outline: none;
    font-weight: normal;
  }

  & input::placeholder {
    font-size: smaller;
    color: #6e6e6e;
  }

  & .search-img {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(45%, 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .search-results {
    position: absolute;
    background-color: transparent;
    padding-right: 50%;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    left: 0;
    bottom: 0;
    transform: translate(0, 100%);
  }

  & .search-results p {
    white-space: nowrap;
    padding: 2px 4px;
    font-size: smaller;
    cursor: pointer;
  }

  & .search-results p:hover {
    color: #ffd700;
  }
}

.container {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 1fr;
  padding: 10px;
  margin: 80px auto;
  max-width: 80%;
  min-height: 500px;

  & .player-img {
    margin: auto;
    width: 200px;
    height: 200px;
  }

  & .locked-player {
    border-radius: 12px;
    background-color: black;
    opacity: 70%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  & h1 {
    text-align: center;
    font-size: 32px;
  }

  & button {
    margin: 25px auto;
    background-color: #18392b;
    font-size: 1.3rem;
    border: 1px solid white;
    border-radius: 8px;
    padding: 12px 32px;
    color: white;
  }

  & button:hover {
    background-color: #0f5132;
    color: white;
  }
}

.input-time {
  max-width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;

  & input {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
  }
}

.team-container {
  position: relative;
  max-width: 100%;
  height: auto;
  display: grid;
  gap: 2fr;
  overflow: hidden;
  background-color: #7eaf34;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: repeating-linear-gradient(
    #7eaf34,
    #7eaf34 40px,
    #75a830 40px,
    #75a830 80px
  );
}

.team-container::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 20%;
  top: 0;
  left: 0;
  transform: translateX(50%);
  background-color: transparent;
  border: 1px solid white;
}

.team-container::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 8%;
  top: 0;
  left: 0;
  transform: translateX(150%);
  background-color: transparent;
  border: 1px solid white;
}

.team-container .box-circle {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: transparent;
  border-bottom: 1px solid white;
  transform: translate(200%, 45%);
}

.team-container .center-circle {
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 100%;
  background-color: transparent;
  border-top: 1px solid white;
  bottom: 0;
  left: 0;
  transform: translate(125%, 60%);
}

.squad-list h1 {
  text-align: center;
  color: red;
  margin-top: 20px;
}

.squad-list ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
  font-size: smaller;
  margin-top: 11px;
  cursor: pointer;
}

.squad-list ul li {
  white-space: nowrap;
}

.team-management {
  text-align: center;
  margin-bottom: 30px;
}

.team-container .line-up {
  font-size: smaller;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1fr;
  min-height: 500px;
  border: 1px solid white;
  cursor: pointer;
}

.line-up li {
  margin: auto;
  padding: 12px;
  white-space: nowrap;
  z-index: 1;
  font-size: smaller;
}

.line-up li:hover {
  color: white;
}

.line-up li:nth-child(1) {
  grid-column: span 4;
  margin: auto;
  transform: translateY(50%);
  z-index: 1;
}

.line-up li:nth-child(2),
li:nth-child(5) {
  grid-row: span 2;
  transform: translateY(100%);
}

.line-up li:nth-child(6),
li:nth-child(7),
li:nth-child(8),
li:nth-child(9) {
  grid-row: span 2;
  transform: translateY(50%);
}

.line-up li:nth-child(8),
li:nth-child(9) {
  margin: auto;
}

.line-up li:nth-child(10),
li:nth-child(11) {
  grid-row: start 5;
  grid-column: span 2;
}

/*Responsiveness*/

@media (min-width: 1084px) {
  .team-container {
    max-width: 80%;
    margin: auto;
  }

  .search-bar {
    width: 50%;
  }

  .squad-list {
    max-width: 80%;
    margin: auto;
  }
}

@media (min-width: 1800px) {
  .search-bar {
    & input::placeholder {
      font-size: 1rem;
    }

    & input {
      padding: 20px 50px;
    }

    & .search-img {
      transform: translate(100%, 110%);
    }
  }

  .team-management {
    font-size: 1.5rem;
  }

  .search-results {
    font-size: 1.2rem;
  }

  .squad-list h1 {
    font-size: 2rem;
  }

  .squad-list li {
    font-size: larger;
  }

  .team-container {
    min-height: 900px;
  }

  .team-container li {
    font-size: 1.2rem;
  }

  .container .player-img {
    margin: auto;
    width: 250px;
    height: 250px;
  }

  .input-time {
    margin-top: 40px;
  }

  .input-time input {
    padding: 20px;
  }

  .timer h1 {
    margin-top: 20px;
  }
}

@media (min-width: 2200px) {
  .team-management {
    font-size: 2rem;
  }

  .squad-list h1 {
    font-size: 2rem;
  }

  .squad-list li {
    font-size: large;
  }

  .team-container {
    min-height: 900px;
  }

  .team-container li {
    font-size: large;
  }

  .points .points-logo {
    width: 45px;
    height: 45px;
  }

  .points h1 {
    font-size: 2rem;
  }
}

@media (min-width: 2500px) {
  .points h1 {
    font-size: 2rem;
  }
}
